*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background: #f8f8f8;
    font-family: 'Raleway', sans-serif;
}

/************************************************************HEADER************************************/

.contenedor-header{
    width: 95%;
    max-width: 1200px;
    overflow: hidden;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

header{
    
    height: 65px;
    padding: 5px;
    background:	 #e6f0ff;
}

.texto-logo{
   
    justify-content: center;
    text-align: center;
    font-family: 'Caveat', cursive;
    font-weight: bolder;
  
       
}

.texto-logo h1{
    font-size: 44px;
    display: inline-block;
    margin-right: 20px;
    color:#ff0080;
}

.texto-logo h3{
    font-size: 24px;
    display: inline-block;
    color: #af8546;
}

.navegacion{
    margin-left: 25%;
}


header nav a{
    color: #0066ff;
    margin-right: 20px;
    font-size: 14px;
    font-family: cursive;
    margin-bottom: 20px;
    letter-spacing: 0.2em;
}

header nav a:hover {
   color: #af8546;
}

.boton{
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #ff0080;
    color: #fff;
    font-size: 15px;
    letter-spacing: 0.20em;
    border: .2px solid #fff;
    margin-top: 30px;
    border-radius: 25%;
   
}

.boton:hover{
    opacity: .6;
    
}

/************************************************FOOTER**************************/

footer {
    background: #001f4d;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}

footer .social a{
    color: #fff;
    text-decoration: none;
    padding: 10px 50px 10px 50px;
    text-align: center;
    font-size: 27px;
}

footer .social a:hover{
    color: #af8546;
}

hr{
    color: #0066ff;
    background: #0066ff;
    width: 100%;
    margin: auto;
}


/*------------------------------------------------Nuestros servicios-------------------*/







/*----------------------------------------------Banner Horarios-----------------------*/
.seccion-horarios{
    width: 100%;
    min-height: 350px;
    background-color: #fff;
    margin: 60px 0px 40px 0px;
    border: 2px solid green;
}


.seccion-horarios .contenido-horarios{
    width: 50%;
    padding: 20px;
    text-align: center;
    border: 2px solid purple;
    margin: auto;
}

.seccion-horarios  h2{
    color: #1c2b1e;
    letter-spacing: 2px;
    font-size: 30px;
    padding: 30px;
} 

.seccion-horarios  p{
    color: #1c2b1e;
    letter-spacing: 1px;
    font-size: 22px;
    padding-bottom: 30px;
}


/*--------------------------------------------------Nosotros--------------------------------*/