*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    max-width: 1200px;
    margin: auto;
}


/*-------------------------------------------------------------------------------------------------header-------*/
header{
    border: 2px solid blue;
    background: linear-gradient(#fad6f9, #fff);
    max-width: 1200px;
}


header .contenedor-header{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
    border: 2px solid yellow; 
    padding: 6px;
}



.contenedor-header .texto-logo{   
    font-family: 'Caveat', cursive;
    font-weight: bolder; 
    border: 2px solid green;
       
}

.contenedor-header .texto-logo h1{
    font-size: 3em;
    display: inline-block;
    margin-right: 0.9375rem;
    color:#ff0080;
}

.contenedor-header .texto-logo p{
    font-size: 1.375em;
    display: inline-block;
    color: #40444b;
    letter-spacing: 2px;
    
    
}

.contenedor-header .navegacion{
    margin-left: 2%;
}


.contenedor-header .navegacion a{
    color: #40444b;
    margin-right: 20px;
    font-size: 14px;
    font-family: cursive;
    margin-bottom: 20px;
    letter-spacing: 0.2em;
}

.contenedor-header .navegacion a:hover {
   color: #ff0080;
}


/*------------------------------------------------------------------------------------------main----------------*/

main{
    margin: 0px;
    padding: 0px;
}

.contenedor-descripcion-imagenes{
    width: 100%;
    height: 50vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 4px solid yellow;
 
}

.contenedor-descripcion-imagenes .contenedor-descripcion{
        width: 40%;
        height: 50vh;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        border: 5px solid purple;
    }

.contenedor-descripcion-imagenes .contenedor-descripcion p{
        padding-top: 9.375rem;
        font-size: 2.8125em;
        letter-spacing: 0.02em;
        font-family: 'Caveat', cursive;
        color: #40444b;
        
    }

    .contenedor-descripcion-imagenes .contenedor-descripcion .boton{
        cursor: pointer;
        display: inline-block;
        /*border: 0;*/
        font-weight: bold;
        padding: 10px;
        background: #ff0080;
        color: #fff;
        font-size: 15px;
        letter-spacing: 0.20em;
       /*  border: 2px solid #fff;*/
        margin-top: 30px;
        /*border-radius: 5%;*/
        
       
    }
    
.contenedor-descripcion-imagenes .contenedor-descripcion .boton:hover{
        background-color: #b9035e;
        
    }

.contenedor-descripcion-imagenes .contenedor-2perros{
        width: 60%;
        border: 5px solid red;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
        
        
    }


    .contenedor-perro1{
        padding-top: 30px;
        width: 350px;
        height: 500px;
    /*    border: 3px solid orange;*/
    }

    .contenedor-perro2{
        margin-top: 245px;
        width: 200px;
      /* border: 2px solid black;*/
    }



/*-------------------------------------------------------------------------------Nuestros servicios-------------------------------*/

.seccion-servicios{
 width: 100%;
 height: auto;
 padding: 30px;
 margin-top: 40px auto;
 text-align: center;
}

.seccion-servicios h2{
    padding: 10px;
    font-size: 25px;
}

.seccion-servicios p{
    margin: 20px 0 50px 0;
    font-size: 20px;
    letter-spacing: 1px;
    width: 90%;
}

.seccion-servicios .box-container-servicios{
    width: 90%;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 2px solid rgb(148, 24, 65);
    
}

.box-container-servicios .box{
    border: 2px solid #001f4d;
    display: inline-block;
    width: 30%;
    margin: 10px;
}

.box-container-servicios .box img{
    width: 100%;
    height: 60%;
    border: 2px solid yellow;
}

.box-container-servicios .box h3{
    text-align: center;
   /* border: 1px solid purple;*/
    margin: 10px 0;
    padding: 10px;
}

/*------------------------------------------------------------------Banner Horarios-------------------------------------*/
.seccion-horarios{
    width: 100%;
    height: 40vh;
    min-height: 50vh;
    margin: 60px 0px 40px 0px;
    border: 1px solid #ff0080;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(cuatro.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    
}


.seccion-horarios .contenido-horarios{
    width: 50%;
    padding: 20px;
    text-align: center;
    border: 2px solid #ff0080;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}

.seccion-horarios  h2{
    color: #fff;
    letter-spacing: 2px;
    font-size: 25px;
    padding: 30px;
} 

.seccion-horarios  p{
    color: #fff;
    letter-spacing: 1px;
    font-size: 22px;
    padding-bottom: 30px;
    width: 100%
}

.seccion-horarios .btn-horarios{
    padding: 10px;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
}

.seccion-horarios .btn-horarios:hover{
    box-shadow: 0px 0px 8px #ff0080;
    color: #fff;
}

/*----------------------------------------------------------------------Nosotros-----------------------------------------*/
.seccion-nosotros{
    width: 100%;
    height: auto;
   /* border: 2px solid purple;*/
    margin: auto;
    text-align: center;
}

.seccion-nosotros h2{
    letter-spacing: 2px;
    font-size: 25px;
    padding: 30px;
    
}

.seccion-nosotros p{
    margin: 20px 0 70px 30px;
    font-size: 20px;
    letter-spacing: 1px;
    width: 90%;
    /*border: 2px solid green;*/
    padding: 20px;
}

.container-nosotros{
   /* border: 3px dashed rgb(174, 4, 4);*/
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
 /*   margin: 40px auto;*/
    
}


.avatar-nosotros{
    /*border: 2px solid blue;*/
    align-items: center;
    width: 20%;
}


.seccion-nosotros .avatar-nosotros img{
    width: 100%;
   /* border: 2px solid yellow;*/
    
}

.seccion-nosotros .avatar-nosotros h3{
    text-align: center;
    padding: 20px;
}


/************************************************FOOTER*****************************************************************/

footer {
    background: #001f4d;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
   
}

footer .social a{
    color: #fff;
    text-decoration: none;
    padding: 10px 50px 10px 50px;
    text-align: center;
    font-size: 27px;
}

footer .social a:hover{
    color: #ff0080;
}