

@media screen and (max-width: 1200px){

}



/*---------------------------------------------------------------------------------------------------992px--------*/
@media screen and (max-width: 992px){

     /*---------------------------------------------------------------header-------------------*/
    header{
        padding: 1px;
    }
    
    

    .contenedor-header .navegacion{
       /* background: lightblue;*/
        margin-top: 40px;
        padding: 4px 2px;
    }


    
   


    /*----------------------------------------------------------------------main-animaciones-------------*/
    .contenedor-descripcion-imagenes .contenedor-descripcion p{
        letter-spacing: 0.01em;
        
    }


}



/*-------------------------------------------------------------------------------------------768px--------*/
/*-------------------------------------------------------------------------------------------768px--------*/
/*-------------------------------------------------------------------------------------------768px--------*/

@media screen and (max-width: 768px){

  /*---------------------------------------------------------------header-------------------*/
  header{
    margin: auto;
    text-align: center;
  }

  header .contenedor-header{
    padding: 10px 2px  0px;
}


.contenedor-header .texto-logo{   
    padding: 3px;
    margin: auto;
       
}

.contenedor-header .texto-logo h1{
    font-size: 4em;
    margin-right: 1rem;
   
}

.contenedor-header .texto-logo p{
    font-size: 1.5em;
    color: #34363a;
    letter-spacing: 4px;
    padding: 20px;
    
}

.contenedor-header .navegacion{
    margin: auto;
   /* border: 1px dashed black;*/
    padding: 6px;
}

.contenedor-header .navegacion a{
    color: #2a2c2f;
    font-size: 18px;
    margin: 30px 28px 0px 0px;
    letter-spacing: normal;
}
 /*-------------------------------------------------------------------main-animaciones-------------*/

 .contenedor-descripcion-imagenes{
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
   
    
   
}

.contenedor-descripcion-imagenes .contenedor-descripcion{
    width: 100%;
    height: 100vh;
  /*  border: 2px dashed purple;*/
    text-align: center;
}


.contenedor-descripcion-imagenes .contenedor-descripcion p{
        padding: 20px;
        font-size: 50px;
        letter-spacing: 3px;
        margin-top: 10%;
    }

 
.contenedor-descripcion-imagenes .contenedor-descripcion .boton{
   
    font-weight: bold;
    padding: 18px 30px;
    letter-spacing: 0.3em;
    margin-top: 50px;
    font-size: 18px;
    
   
}

.burbujas{
    position: relative;
    bottom: 0px;
    left: 0px;
}

/*--------------------------------------------------------------------------perritos----------*/

.contenedor-descripcion-imagenes .contenedor-2perros{
    width: 100%;
    height: 100vh;
 /*   border: 5px solid brown;*/
    display: flex;
    justify-content: space-around;
    padding: 0px;
    
}




}


/*-----------------------------------------------------------------------------576px--------*/
/*-----------------------------------------------------------------------------576px--------*/
/*-----------------------------------------------------------------------------576px--------*/

@media screen and (max-width: 576px){

    /*------------------------------------------------------------header------------*/
    header .contenedor-header{
         padding: 8px 5px;
     }

     .contenedor-header .texto-logo{   
        padding: 2px;
        margin-bottom: 3px;
           
    }
       
    .contenedor-header .navegacion{
        margin: auto;
     /*   border: 1px dashed black;*/
        padding: 15px 5px 0px;
    }
    
    .contenedor-header .navegacion a{
        margin-right: 20px;
        font-size: 18px;
        margin: auto 20px;
        
        
    }

/*----------------------------------------------------------------------main-animaciones-------------*/

 
.contenedor-descripcion-imagenes .contenedor-descripcion .boton{
    font-weight: bolder;
    padding: 25px 35px;
    letter-spacing: 0.4em;
    margin-top: 60px;
    font-size: 18px;
    
   
}

.burbujas{
    position: relative;
    bottom: 0px;
    left: 0px;
}
    
}


/*-------------------------------------------------------------------------368px---------*/
/*-------------------------------------------------------------------------368px---------*/
/*-------------------------------------------------------------------------368px---------*/

@media screen and (max-width: 368px){

    /*------------------------------------------------------------header------------*/
    header .contenedor-header{
        padding: 0px;
        text-align: center;
        margin: auto;
        width: 100%;
        
    }

   .contenedor-header .texto-logo p{
    font-size: 1.9em;
    letter-spacing: 3px;
    text-align: center;
}


    .contenedor-header .navegacion{
        margin: 20px auto;
    }

   .contenedor-header .navegacion a{
       display: block;
       padding: 10px;
       font-size: 20px;
       letter-spacing: 3px;
   }

   
/*----------------------------------------------------------------------main-animaciones-------------*/

    .contenedor-descripcion-imagenes .contenedor-descripcion p{
        padding: 15px;
        font-size: 38px;
        letter-spacing: 1px;
        margin-top: 30%;
        line-height: 35px;
    
    }


    .contenedor-descripcion-imagenes .contenedor-descripcion .boton{
    width: 50%;
    font-weight: lighter;
    padding: 10px 20px;
    letter-spacing: normal;
    margin-top: 50px;
    font-size: 15px;


    }



    }